*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
}

.body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 980px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.header {
  background: rgba(0, 0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 201px;
  padding-bottom: 233px;
  text-align: center;
  background-image: url(../images/hero.webp);
}
.header__box {
  position: absolute;
  top: 42px;
  left: 235px;
}
.header__list {
  display: flex;
}
.header__logo {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 580px;
  animation-name: move-logo;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}
@keyframes move-logo {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.header__log {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
  margin-right: 9px;
}
.header__log:hover {
  outline: 1px solid #fff;
  border-radius: 20px;
  padding: 4px;
}
.header__link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
}
.header__link:hover {
  outline: 1px solid #fff;
  border-radius: 20px;
  padding: 4px;
}
.header__title {
  width: 508px;
  color: #fff;
  font-size: 52px;
  font-weight: 700;
  line-height: 1.21;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  animation-name: title-move;
  animation-duration: 2000ms;
}
@keyframes title-move {
  0% {
    transform: translateY(-900px);
  }
}
.header__text {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
  line-height: 1.16;
  margin-top: 36px;
  animation-name: text-move;
  animation-duration: 2000ms;
}
@keyframes text-move {
  0% {
    transform: translateX(1000px);
  }
}
.header__btn {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 11px;
  padding-left: 10px;
  background-color: #FF4E50;
  border-radius: 20px;
  margin-top: 33px;
  animation-name: btn-move;
  animation-duration: 2000ms;
}
@keyframes btn-move {
  0% {
    transform: translateX(-1000px);
  }
}

.partner {
  padding-top: 65px;
  padding-bottom: 72px;
}
.partner__title {
  color: #333;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: 35px;
}
.partner__list {
  display: flex;
  gap: 2px;
}
.partner__img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.partner__title {
  width: 224px;
  color: #333;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 16px;
  margin-bottom: 13px;
}
.partner__text {
  color: #666;
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1;
}
.partner__center {
  text-align: center;
}
.partner__btn {
  color: #FF4E50;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 17px;
  border-radius: 20px;
  outline: 1px solid #FF4E50;
  background-color: #fff;
  margin-top: 53px;
}/*# sourceMappingURL=main.css.map */